.hero-text {
    margin-top: 59px;
    margin-bottom: 56px;
    .column-1 {
        > span {
            color: var(--color-1);
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 8px;
        }
        > h1 {
            color: var(--color-4);
            font-size: 60px;
            font-weight: 600;
            > span {
                display: block;
                color: var(--color-1);
            }
        }
        > p {
            font-size: 16px;
            color: var(--color-4);
        }
    }
}
